<%- include('partials/header') %>
<%- include('partials/homenavbar') %>
<body>
    <div class="container">
        <hr>
        <!-- INSERT CLASS JUMBOTRON CSS, LOOKING FOR THIS-->
        <hr>
        <% articles.forEach(article => {  %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-primary">ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>

            <div class="row">
                <div class="col col-12">
                    <a href="/articles/articles/page/2" style="float: right;">Next >>></a>
                </div>
                <hr>
            </div>
            <hr>

    </div>
</body>
<%- include('partials/footer') %>
